
mixin modal() 
 
	//- #modal-win.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-win', aria-hidden='true')
		
	//- 	div( class="   modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			+input("tel","Введите ваш телефон")(name="tel" required) 
				
	//- 			+e.BUTTON.btn.btn.btn-accent.btn-block Отправить
	//- 			+b.wrap-polite
	//- 				+b.custom-input.polite
	//- 					+b.LABEL.custom-input.polite
	//- 						+e.INPUT.input.__input-radio(type="checkbox" checked name="polite" required value="")
	//- 						+e.SPAN.lab
	//- 						| Даю 
	//- 						| 
	//- 						span.link( data-toggle='modal', data-target='#exampleModal2') согласие 

	//- 						| на хранение и обработку   персональных данных
	
 

	//- #thanks.modal.fade(tabindex='-1', role='dialog', aria-labelledby='thanks', aria-hidden='true')
	//- 	div( class=" ttext-center  modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			br
	//- 			.h2 Заявка принята
	//- 			br
	//- 			.h3 Скоро с Вами свяжутся
	//- 			br 

	+form-wrap()(id="modal-inner" class="zoom-anim-dialog mfp-hide modal-win modal-form modal-sm" )
		.text-center
			+e.title.h3.ttu войти 
		+input("tel","Телефон")(required)
		+input("eamil","E-mail")(required) 
		//- +input("email","Ваше email")(required)
		//- +text( "Комментарий")
		+e.btn--modal.--sm(type="submit") войти 
	// #modal-inner
	
	+form-wrap()(id="modal-sponsor" class="zoom-anim-dialog mfp-hide modal-win modal-form modal-lg" )
		.text-center
			+e.title.h3.ttu Хочу стать спонсором
		.row
			.col-auto
				+in-rad('face')
					+e.STRONG.text.ttu физическо лицо
			
			.col-auto
				+in-rad('face')
					+e.STRONG.text.ttu Организация
			
		.row 
			.col-lg-6
				+input('text','Название организации или ФИО')
			.col-lg-6
				+select('Вид спонсорской помощи')
					option Вид спонсорской помощи 1
					option Вид спонсорской помощи 12
					option Вид спонсорской помощи 13
			.col-lg-6
				+input('tel','ТЕЛЕФОН')
			.col-lg-6
				+input('text','Мероприятие')
			.col-lg-6
				+input('email','E-MAIL ')
			.col-lg-6
				+input('text','Дата')(class="datepicker-date")
		+ta('ВАШЕ СООБЩЕНИЕ')
		+polite
		+e.btn--lg-modal(type="submit") НАПИСАТЬ СООБЩЕНИЕ
	// #modal-sponsor
	
	+form-wrap()(id="modal-alert" class="zoom-anim-dialog mfp-hide modal-win modal-form modal-sm" )
		.text-center
			+e.title.h3.ttu Сообщение отправлено
			p  В ближайшее время с Вами свяжутся.
	// #modal-alert
	+b.form-wrap(id="modal-table" class="zoom-anim-dialog mfp-hide modal-win modal-form modal-md" )
		.text-center
			img.res-i(src="img/table.jpg", alt="")
	// #modal-table

	// modal