mixin s-docs() 
	// start s-docs
	+b.UL.s-docs.section 
		mixin link(t)
			+e.LI.item 
				+e.link(href="#" download)
					+e.DIV.icon-wrap: +icon('download')
					+e.DIV.title
						span= t
						+e.DIV.size (235 Кб)
		+link('Договор о проведении культурно-массового мероприятия.docx  ') 
		+link('Положение №13 о исполнении обязанностей сотрудников и волонтеров культурно-маcового мероприятия.doc  ')
		+link('Приказ от 03.03.2017 о проведениии турнира.pdf  ')
		+link('Положение №124 о исполнении обязанностей сотрудников и волонтеров.docx  ')
		+link('Договор о проведении культурно-массового мероприятия.doc  ')
  
		
	// end s-docs