mixin s-program-block()
	// start s-program-block
	+b.s-program-block
		+e.head
			h4  Тренировочная программа с проживанием
			p Национальная академия тенниса сосредоточена на создании максимально комфортных условий для обучения и проживания спортсменов.
		+e.body
			.row
				+e.col.col-lg-5
					.strong Наши программы включают: 
					ul
						li Трансфер аэропорт > Минск и Минск > аэропорт;

						li Проживание в 2-х местной комнате;

						li Высокоинтенсивные тренировки:

						li Высококалорийный обед в тренировочные дни;

						li Теннисные мячи и корты для тренировок;

						li Медицинское сопровождение, диагностика физической подготовки;

						li Консультации профессионального спортивного психолога.

				
				+e.col.col-lg.col-md-auto
					.strong Еженедельный график тренировок:
					ul
						li.not-style Понедельник, вторник, четверг, пятница
						li 9:00 – 11:00 
							br
							| тренировка по теннису

						li 11:10 – 12:40
							br
							| тренировка по ОФП

						li 13.00 – 14.00
							br
							| обед

						li 15:00 – 17:00
							br
							| тренировка по теннису
						li.not-style Воскресенье выходной.

				
				+e.col.col-md-auto
					.strong.d-none.d-md-block &nbsp;
					ul
						li.not-style  Среда и суббота	
						li 9:00 – 11:00 
							br
							| тренировка по теннису

						li 11:10 – 12:40
							br
							| тренировка по ОФП

						li 13.00 – 14.00
							br
							| обед

						li 15:00 – 17:00
							br
							| тренировка по теннису
		+e.foot
			+e.table-wrap
				+e.TABLE.table
					tr
						th Количество недель
						th 1
						th 2
						th 3
						th 4
					
					tr
						td(data-title="Количество недель")  USD
						td(data-title="1 неделя") 
							+e.price 850.00
						td(data-title="3 недели") 
							+e.price 1.700.00
						td(data-title="3 недели") 
							+e.price 2.400.00
						td(data-title="4 недели") 
							+e.price 2.850.00
			+e.btn(href="#") зарегистрироваться
			
	// end s-program-block